/** {border: 1px solid black;}*/

@font-face { font-family: Thrones; src: url('../thrones.ttf'); } 

body {
	font-family: Thrones;
	color: #FFF;
	background: url("../images/throne.png");
	z-index: 0;

}

.main-title, .sub-title, .billboard {
	text-align: center;
}

.main-title {
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.sub-title {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.billboard {
	font-size: 20px;
	margin: 5px 0 5px 0;
}

.arena, .holding-area, .battleground {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	z-index: 2;
}

.holding-area {
	width: 30%;
	border: 5px groove #FFF;
	background: rgba(101, 107, 103, .75); 
}

.holding-img {
	max-width: 200px;
	margin: 5px;
	border: 2px groove #FFF;
}

.battleground {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;	
	border: 5px groove #FFF;
	background: rgba(101, 107, 103, .75); 
}


.btn-div{
	/*display: flex;*/
	align-content: center;
	background: #000;
	height: 40%;
}

.btn-div:hover {
	background: #F00;
	border: 5px outset #FFF;

}

.atk-btn{
	height:100%;
}

.atk-txt {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.user-fighter, .enemy-fighter {
	display: flex;
	justify-content: center;
	width: 45%;
	border: 5px groove #FFF;
}

.battleground-title, .stats {
	text-align: center;
}

.battleground-title {
	font-size: 20px;
}

.battleground-img {
	display: block;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
}

.stats {
	border-top: 2px solid #656b67;
	border-bottom: 2px solid #656b67;
}

span {
	font-size: 25px;
}



