
@font-face { font-family: Thrones; src: url('../thrones.ttf'); } 

body {
	font-family: Thrones, sans-serif;
	color: #FFF;
	background: url("../images/throne.png");
}

.main-title,
.sub-title,
.select-champ,
.user-text,
.enemy-text {
	text-align: center;
	margin: 0;
}

.select-champ,
.user-text,
.enemy-text {
	text-align: center;
	margin: 10px 0 0 0;
}


.main-title {
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.sub-title {
	font-size: 20px;\
	margin-bottom: 5px;
	border-bottom: 2px solid #F6F6F6;
	width: 100%;

}

.billboard {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	margin: 0;
}

.select-champ, 
.user-text, 
.enemy-text {
	width: 30%;
}


.arena,
.holding-area,
.battleground {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.holding-area {
	width: 30%;
	border: 5px groove #FFF;
	background: rgba(101, 107, 103, .9); 
}


.popup {
	position: absolute;
	width: 100%;
}

.holding-img {
	max-width: 200px;
	border: 2px groove #FFF;
}

.battleground {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60%;
	/*max-height: 600px;*/
	border: 5px groove #FFF;
	background: rgba(101, 107, 103, .9); 
}


.btn-div {
	display:flex;
	height: 20%;
}

/* create the animation used for hovering over the attack button*/
@keyframes changeColor {
  0% {
    background-color: #F6F6F6;
  }
  
  50% {
    background-color: #ff0000;
  }
  
  100% {
    background-color: #F6F6F6;
  }
}


.atk-btn{
	height: 70px;
	border-radius: 40px;
}

/*initiate the animation on the attack button*/
.atk-btn:hover {
	animation: changeColor ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: both;
}


.user-fighter,
.enemy-fighter {
	display: flex;
	justify-content: center;
	width: 45%;
	border: 2px groove #FFF;
}

.battleground-title, 
.stats {
	text-align: center;
}


.battleground-title {
	font-size: 20px;
}

.user-img-div, 
.enemy-img-div {
  width: 100%;
}


.stats {
	border-top: 2px solid #656b67;
	border-bottom: 2px solid #656b67;
}

.current-user-atk, 
.current-enemy-atk {
	font-size: 25px;
	color: red;
}

.current-user-hp, 
.current-enemy-hp {
	font-size: 25px;
	color: #00FF00;
}

.user-text,
.enemy-text {
	font-family: Georgia, serif;
	color: red;
}



